.header {
  display: flex;
  justify-content: center;
  background-color: #646cff ;
  border-bottom: 2px solid #646cff ;
  box-shadow: 0ch 0.3ch 0.5ch #646cff ;
  width: 100vw;
  height: 5rem;

  h1 {
    font-size: 2rem;
  }
}
